[2015-12-08 15:50] matthieu-robin opened #1 "Cannot locate object"
Hi,

Got the following error / message, it could help you:
Can't locate object method "contactgroup_name" via package "grp_piquet" (perhaps you forgot to load "grp_piquet"?) at /tmp/nagios_reader_to_centreon_clapi.pl line 343.

grp_piquet est un groupe de contact.

Thanks

[2015-12-08 15:57] matthieu-robin opened #2 "No Hosts, No Services"
I have tested and i don't have any details of:
- hosts
- services
- templates
- ...

I've got only :
- contacts
- contact groups
- commands
- time period

is it expected? :-)

Thanks

[2015-12-08 15:59] matthieu-robin opened #3 "Error message during execution"
Hi,
Here is the message:
Use of uninitialized value $value in pattern match (m//) at /usr/lib/perl5/site_perl/5.14.2/Nagios/Object.pm line 860, <GEN13> line 14580.

If it's help you Laurent :-)

Thanks

[2015-12-08 16:00] lpinsivy commented on #1
Hi can you send me a zip of Nagios etc directory by email to make some test ?

Can you specify your Nagios server OS distribution and version and the Nagios version?

[2015-12-08 16:06] matthieu-robin commented on #1
sent by mail

[2015-12-08 16:57] matthieu-robin opened #4 "contacts : Full Name and Alias inversed"
All is in the title :-)

thanks

[2015-12-09 17:41] lpinsivy commented on #1
Merci Matthieu je vais débuger ca ;)

2015-12-08 17:06 GMT+01:00 matthieu-robin notifications@github.com:

##

_Laurent PINSIVY Project Manager & Head of Professional Services_

Email: lpinsivy@centreon.com
Tel +33 (0) 1 49 69 97 12
Fax +33 (0) 1 78 12 00 28

[image: Centreon_Logo_RVB_Light_200x76px.png]
Centreon - Your IT co-pilot
www.centreon.com | blog.centreon.com | github.com/centreon

[2015-12-09 18:14] matthieu-robin commented on #1
Avec plaisir!
Bon, pas sur que je l’utilise pour cette migration car vu qu’on a le droit au plugin packs, je vais en profiter pour tout refaire propre chez le client :-)

Mais pour le futur!

Matthieu ROBIN
0041 79 746 93 05
0033 6 51 42 92 09
www.matthieurobin.com
info@matthieurobin.com

[2015-12-10 12:30] #1 closed, assigned to lpinsivy

[2015-12-10 12:44] lpinsivy commented on #3
Issue with Nagios::Object library, you can try this modification

--- /usr/local/share/perl5/Nagios/Object.pm.origin      2015-12-10 13:43:00.295008617 +0100
+++ /usr/local/share/perl5/Nagios/Object.pm     2015-12-10 13:41:25.633870322 +0100
@@ -857,11 +857,11 @@

[code]
-    if ( ref $vf->{$key}[0] eq 'ARRAY' && $value =~/^+(.+)$/ ) {
-    if ( ref $vf->{$key}[0] eq 'ARRAY' && defined ($value) &&

[2015-12-10 12:44] #3 closed, assigned to lpinsivy

[2015-12-10 12:48] lpinsivy commented on #2
Maybe due to issue #1

I have all information

HOST;ADD;c****_**9;BO Test;172.__._**.129;host-server;Central;
HOST;setparam;c******_9;active_checks_enabled;1
HOST;setparam;c**_***_9;check_command;check_host_icmp_alive
HOST;setparam;c**_***_9;check_interval;5
HOST;setparam;c**_***_9;check_period;24x7
HOST;setparam;c**_***_9;event_handler_enabled;1
HOST;setparam;c**_***_9;flap_detection_enabled;1
HO

[2015-12-10 12:48] #2 closed, assigned to lpinsivy

[2015-12-23 17:53] adhaussy opened #5 "Can't locate object method"
Hello,

I have the same issue that has been fixed on contactgroups (https://github.com/centreon/nagiosToCentreon/commit/34044703a7238dc3b5e785149c3cb1747cde39b7)

But this time on contacts.

`$ perl nagios_reader_to_centreon_clapi.pl -C /etc/nagios/nagios.cfg > centreon_clapi_import.txt
Can't locate object method "name" via package "exploitation_suiviprod" (perhaps you forgot to load "exploitation

[2016-01-13 11:38] btassite opened #6 "Can't locate object method - hostgroups"
Hi,

I'm getting a similar error to issue #5  but in a different section (the version of the script I downloaded ("1.0") already contains nountevo's patch):

`Can't locate object method "members" via package "all" (perhaps you forgot to load "all"?) at nagios_reader_to_centreon_clapi.pl line 369.`

When I comment out the offending section (in `/etc/nagios3/conf.d/hostgroups_nagios2.cfg`) the scrip

[2016-01-13 12:38] btassite opened #7 "defined(@array) is deprecated"
I guess this is cosmetic:

`defined(@array) is deprecated at nagios_reader_to_centreon_clapi.pl line 203.
        (Maybe you should just omit the defined()?)`

Fixed it by changing:

[code]

[2016-01-13 12:44] btassite opened #8 "Can't use an undefined value as an ARRAY reference"
After commenting out the offending stanza for issue #6, I get instead:

`Can't use an undefined value as an ARRAY reference at nagios_reader_to_centreon_clapi.pl_orig line 560.`

Almost all services are missing from the output.

[2016-01-13 12:46] btassite opened #9 "Use of uninitialized value $name in exists at ../Nagios/Object/Config.pm"
I get 9 of these lines (right before the errors in issue #6 an #7):

`Use of uninitialized value $name in exists at /usr/local/share/perl/5.20.2/Nagios/Object/Config.pm line 367.`

[2016-01-15 16:42] micwiel commented on #4
I confirm this bug.

[2016-01-18 14:20] Jaspper opened #10 "Can't call method "service_name" on unblessed"
Hello ,
I got this error message when executing the script:

Can't call method "service_name" on unblessed reference at /root/nagiosToCentreon-master/nagios_reader_to_centreon_clapi.pl line 706.

It's related to the export of servicegroups, but I couldn't figure out what's wrong in the code.

Any help plz !!

[2016-01-26 15:16] euidzero opened #11 "Services by host groups are converted to services by hosts"
Importing a service by host group splits it to multiple services by hosts for every host in the group

define hostgroup{
        hostgroup_name                  Physical_server_with_soft_raid
        members                              host1, host2, host3
}

define service{
        hostgroup_name                  Physical_server_with_soft_raid
        service_description             check_nrpe_co

[2016-01-26 15:33] euidzero commented on #11
My fix
[export-hgservices.patch.txt](https://github.com/centreon/nagiosToCentreon/files/105143/export-hgservices.patch.txt)

[2016-01-26 15:40] lpinsivy commented on #11
Hi,
Yes it is a desired behavior

Service by hostgroup have doesn't allow to see them into Centreoni n the "Configuration -> Services -> Services by host".

Moreover, If you change a value in the definition of a service by hostgoup, all services will be impacted.

centreon team prefer to use template of services to use inheritance.

Regards

[2016-01-26 17:18] euidzero commented on #11
IMHO The nagios importer shall respect the structure decided by the user who create the nagios configuration and not substitute to the user. A data importer should be neutral with respect to the structure.

 I ended up with hundreds of undesired services while importing an old nagios+centreon config that only count 10 services by host groups.

 At least  there should be a switch and proper documen

[2016-01-26 17:23] lpinsivy commented on #11
I understand your point of view but in the future of Centreon, service by hostgroup may disappear.

So I can add an option --use-hg-service to keep service by hostgroup. Without option, service by hostgroup will be use service template.

Do you agree ?

[2016-01-26 17:53] euidzero commented on #11
Definitely.
Thanks

Le mar. 26 janv. 2016 18:23, Laurent Pinsivy notifications@github.com a
écrit :

[2016-01-27 13:14] #11 closed, assigned to nobody

[2016-01-27 13:21] lpinsivy commented on #10
Hi
I discovered many strange behavior on the Nagios::Config library that I used to prepare Centreon Clapi commands.

Some time the array is juste a string, some time a simple array, and other time an hash array.

As I can't create all the Nagios configurations, I need you to debug. Can you send me your configuration by MP (it will only be used for testing) to reproduce the behavior?

Regards,

[2016-01-27 13:23] lpinsivy commented on #9
Hi btassite,

I never seen this issue. I need a complete Nagios configuration to perform tests.

Can you send my your by MP to reproduce issue ? Your configuration will be used only for debug.

Regards,

[2016-01-27 14:15] euidzero commented on #11
See my comment on the commit : the HGSERVICE creation should be in the outer loop.

[2016-01-27 17:08] lpinsivy commented on #11
sorry corrected I hope

[2016-01-28 15:45] fmorisseau commented on #10
Hi,

I've encountered the very same issue.
I'm new at perl so thank u for the tip : it helps a lot to narrow the bug down.

Regards,

[2016-02-01 12:31] acamilleri commented on #10
Hello,

I got the same error ...
Can't call method "service_name" on unblessed reference at nagios_reader_to_centreon_clapi.pl line 714.

[2016-02-01 13:22] lpinsivy commented on #9
Hi,
you can use thi patch

--- /usr/local/share/perl5/Nagios/Object/Config.pm.orig 2016-02-01 09:54:12.926460291 +0000
+++ /usr/local/share/perl5/Nagios/Object/Config.pm      2016-02-01 13:22:03.047330943 +0000
@@ -364,7 +364,7 @@

[code]
-        if ( exists $self->{$index_type} && exists $self->{$index_type}->{$name} ) {
-        if ( exists $self->{$index_type} && defined ($name) && exists $sel

[2016-02-01 13:22] #9 closed, assigned to nobody

[2016-02-01 13:27] #7 closed, assigned to nobody

[2016-02-01 16:34] lpinsivy commented on #10
Hi guys

I need your Nagios config directory to debug. Can you send me your configuration ?

regards,

[2016-02-01 18:44] acamilleri commented on #10
Bonjour,

J'ai vu que vous étiez français donc ça m'arrange de parler en français :P

Quand vous parlez de configuration, vous parlez de nagios.cfg ??

Je vous enverrai ce dont vous avez besoin dès demain

J'utilise votre module pour migrer de nagios-centreon installé avec la CES
et pouvoir passer sur la dernière version de centreon ;)

Merci d'avance,
Cordialement,
Alexis
Le 1 févr. 2016 5:34 PM,

[2016-02-02 09:58] lpinsivy commented on #10
Bonjour,

Il me faut l’intégralité de votre configuration Nagios (tous le répertoire "etc" contenant tous les fichiers CFG) afin de comprendre pourquoi certaines erreurs sont remontées. Vous pouvez m'envoyer un zip par mail.

[2016-02-02 12:15] acamilleri commented on #10
Bonjour,

Qu'elle est votre adresse email ?

[2016-02-02 14:29] lpinsivy commented on #10
lpinsivy [at] centreon.com

[2016-02-02 15:22] acamilleri commented on #10
C'est envoyé

[2016-02-09 13:00] kobol56 commented on #10
Bonjour,

Je rencontre exactement le même soucis.
Si besoin je peux également envoyer mes fichiers de configuration.

Merci

[2016-02-09 13:17] #10 closed, assigned to nobody

[2016-02-11 09:07] btassite commented on #11
In the current code this is _--servcies-hg_, not _--use-hg-service_ (also misspelled :))

[2016-02-11 09:33] btassite opened #13 "Version number"
Please increase the version number with each commit (e.g. 1.0.n) so we can keep 1.0 apart from 1.0 :)

[2016-03-03 16:21] dbonengel opened #14 "Called hostgroup() on an object that doesn't support it"
Hi,

I try to import a Nagios configuration created by Centreon into CES. Nagios runs on a Debian system (Debian 7.9), I have installed libnagios-object-perl version 0.21.16-1, which comes with that release of Debian

Upon starting nagios_reader_to_centreon_clapi.pl, I get the following error:
Called hostgroup() on an object that doesn't support it. at /usr/share/perl5/Nagios/Object.pm line 961

[2016-03-08 12:22] marcinbednarski opened #15 "Can't call method "use""
Hi, I have an issue on CentOS 6.4.. Nagios upgraded to 4.1.1, Nagios-Object-0.21.20 installed.

perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/nagios.cfg > /tmp/cntreon_clapi_import_commands.txt
Can't call method "use" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 475.

[2016-03-14 14:17] marcinbednarski commented on #15
..some more details from debugger:
  DB<10> c
Can't call method "use" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 475.
 at nagios_reader_to_centreon_clapi.pl line 475
        main::export_services(0) called at nagios_reader_to_centreon_clapi.pl line 476
        main::export_services('Nagios::Service=HASH(0x14c23f0)', 'Nagios::Service=HASH(0x14c2408)', 'Nagios::

[2016-03-17 10:09] Bibelo opened #16 "Export limits at 2000 + Object not found:Nagios::Contact=HASH(0x930f850)"
Hello,

I've successfully imported my configuration from an old Nagios server, and managed to make all check works.

But I notice that not all services have been imported from the old configuration. When I checked the file generated by the script nagios_reader_to_centreon_clapi.pl, I see a sharp 2000 services imported, when there are 2324 on my old Centreon.

[root@tom nagiosToCentreon]# grep "SER

[2016-04-29 10:27] jcnaud opened #17 "Use of uninitialized value"
Hi,
I have this error when i am executing this command :
`perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/nagios.cfg > /tmp/centreon_clapi_import_commands.txt`

[code]

**Perl version (perl --version) :** v5.14.2
**git status :** branch master
**git log :** commit f75763571eae65ed9675b56509454b82d13067d2
Author: Laurent Pinsivy lpinsivy@centreon.com
Date:   Tue Feb 9 13:17:1

[2016-06-10 14:17] lpinsivy opened #18 "Unable to export service if servicetemplate have same name"
It's impossible to export a service if a service template has the same name

[2016-06-10 14:24] #18 closed, assigned to lpinsivy

[2016-06-10 14:27] lpinsivy commented on #17
Hi

A issue was already opened for this:  Error message during execution #3

Can you try ?

Regards

[2016-06-10 14:27] #17 closed, assigned to lpinsivy

[2016-06-13 14:35] Tulan commented on #15
I confirm the same problem, impossible to convert hosts and services configuration files.

[2016-06-14 13:44] homer2012 commented on #18
Hello,

Thanks for this update. It generate on error for me

perl nagios_reader_to_centreon_clapi.pl -S --config /etc/nagios3/nagios.cfg > /tmp/centreon_clapi_import_commands.txt
Use of uninitialized value $name in exists at /usr/local/share/perl/5.10.1/Nagios/Object/Config.pm line 367.
Can't call method "register" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 49

[2016-06-14 13:45] homer2012 commented on #18
for the first error, i saw your workaround at #9. Seems to work.

But i steel have the error on register line 490.

[2016-07-31 22:35] ccadenel opened #19 "Can't locate object method "name" via package"
When try to generate clapi file I recevie this error message:
Can't locate object method "name" via package "xxxxx"

xxxx is a contact name

[2016-08-01 19:06] cuquiwell opened #20 "Can't call method "host_name" on unblessed reference at nagios_reader_to_centreon_clapi.pl line 684."
I get this error! Thx!

[2016-09-09 11:36] ErrafayM commented on #19
Have you fixed this issue ? i'm running the same error.

[2016-09-16 15:32] ErrafayM commented on #16
I have same issue , have you found a solution ?

[2016-09-16 16:12] ErrafayM commented on #5
Have you fixed your error ? i have the same ?

[2016-09-19 13:59] ErrafayM opened #21 "Unable to export services with same description name."
Hi , i'm having an issue exporting Services with same description name. to make it sample to understand here's an exemple :

Server 1 :
PING
CPU
RAM

Server 2 :
PING
CPU
RAM

I'll be unable to export Server 2 services , because they have same description name with Server 1. the workaround i did is to rename the Server 2 services (Srv2_Ping, Srv2_CPU, Srv2_RAM) to be able to export them.

If it can

[2016-09-20 14:15] renard opened #22 "Could not import host with parent"
Got following error:

[code]

The generated line is looks like:

[code]

According to the current (1.8) doc it should be something like:

[code]

I guess some other object should be affected.

Did you even test your code before releasing it?

[2016-09-22 14:13] renard commented on #22
Here (in attachment) is a simple configuration. The configuration was initially generated by a centreon 2.3.3. I just extract a few config stanza that generate errors.

I generate the API file using:

[code]

Then I run:

[code]

Nevermind the "Object already exists".

Problems I see here:
- parents: `Line 47 : SQLSTATE[42S22]: Column not found: 1054 Unknown column 'host_parents' in 'field list'`

[2016-10-05 15:39] DanSmall commented on #21
I can confirm this bug. I am having the same problem.

[2016-10-05 15:43] DanSmall commented on #4
I can confirm this bug too. I am having the same problem.

[2016-10-12 09:41] ErrafayM commented on #21
Thank you! i will try to test your fix as soon as possible.

EDIT :

Seems to be working for me, thank you again. :+1:

[2016-11-24 11:04] KarlisSe opened #24 "Can't call method "register" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 490."
When I run `perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/nagios.cfg > /tmp/centreon_clapi_import_commands.txt` I get these 2 errors:

I tried writing `Nagios::Object::Config` in front of `register` method call, which took me a bit further:

When I try to provide `Nagios::Object::registered` nothing changes.

Do you have any suggestions?
If the module Nagios::Object::Confi

[2016-11-25 06:54] KarlisSe commented on #18
Did you ever resolved your problem on `register` line 490? I`m encountering the same error.

[2016-11-25 09:05] homer2012 commented on #18
No, finally i used this script and manualy modify the result before import.

Le ven. 25 nov. 2016 07:54, KarlisSe <notifications@github.com> a écrit :

[2016-11-25 09:44] KarlisSe commented on #24
It seems that I am getting somewhere - `use diagnostics;` is the key :)

For my first error:

I used solution in #9 after which I used #3.
It seems that it all depends on how your nagios config files are configured/structured. If the script encounters an error while reading from cfg files it shows error:

or similar.

By adding `use diagnostics` in `nagios_reader_to_centreon_clapi.pl` you can see

[2016-11-25 12:06] KarlisSe commented on #24
In `services.cfg `if you have the same service name for different hosts, you will get error:

It also applies to service and advanced service names.

[2016-11-30 14:04] #24 closed, assigned to nobody

[2016-11-30 22:04] kwoltz1984 commented on #19
I am getting this error as well:
Can't locate object method "name" via package "HelpDesk" (perhaps you forgot to load "HelpDesk"?) at /tmp/nagiosToCentreon/nagios_reader_to_centreon_clapi.pl line 672.

It looks like line 672 involves adding the contacts to services.  "HelpDesk" is one of our contacts.

We are running Centreon 2.3.8 with Nagios 3.5.1.  Trying to get this configuration so we can sta

[2016-12-02 11:00] Bladou46 opened #25 "Import Object not found"
Hello,

I try to export and then import a nagios configuration file. When I do the export I have a lot of errors like this one:
`Line 5652 : Object not found:Serveurs-GaleraCluster,Serveurs-MySQL,Serveurs-Linux-Debian-AWS`

This line is the folllowing in my import file:
`HTPL;ADD;ABC-BDD-Servers;ABC-BDD-Servers;;ABC|Serveurs-GaleraCluster,Serveurs-MySQL,Serveurs-Linux-Debian-AWS;;`

This is a host

[2016-12-06 22:35] Bladou46 opened #27 "Normal check interval and retry check interval does not work for Services"
Hello,

Services (template or not) are not exported with their normal and retry check interval.

Functions are misnamed :
[code]

It should be `$service->normal_check_interval` instead of `$service->check_interval`.
The same goes for retry check interval

[2016-12-07 14:42] teleko commented on #15
Hello,
Did you find a solution for this problem?

Thanks

[2016-12-09 04:10] Ejant commented on #19
Same issue here....
Can't locate object method "name" via package "nagiosadmin" (perhaps you forgot to load "nagiosadmin"?) at nagios_reader_to_centreon_clapi.pl line 361.

"nagiosadmin" is a contact

[2016-12-09 04:34] Ejant commented on #19
it looks like the error comes when there are multiple contacts:

HTPL;setcontactgroup;HOST;CONTACTGROUPS;
Can't locate object method "name" via package "nagiosadmin" (perhaps you forgot to load "nagiosadmin"?) at nagios_reader_to_centreon_clapi.pl line 361.

so, i look into my file and

define host{
        name                            HOST
        use                             generic-host

[2016-12-09 19:54] kwoltz1984 commented on #19
This worked for me, thanks!  Mine was with a service though instead of a host.  I had one service with multiple contacts and "HelpDesk" was the first one.  I removed the other contact and reran with success.  No more errors!  Thanks @Ejant !

[2016-12-14 13:21] teleko opened #29 "Can't call method "use" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 481."
Hello,

I received the error below when trying to export Nagios 4 configuration.
Do you have any idea on this?

Thanks.

[2016-12-16 08:40] teleko opened #30 "Can't call method "use" without a package or object reference at nagios_reader_to_centreon_clapi.pl line 484"
Hello,

Error again on line 484 when trying to convert Nagios config files.

Thanks,
Daniel

[2017-01-05 15:11] djtlg commented on #22
I am having this issue as well. Will it be fixed anytime soon.

[2017-01-20 15:45] deconya opened #31 "PDOException with message Column not found"
Hi
Im checking to import centreon 2.3.3 to last version, importing all config (In this case centreon was a frontend from nagios, after that they changed all the schema) . The export part seems to work nice, but when I import  I receive this log
PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'host_parents' in 'field list'' in

[2017-01-23 08:08] deconya commented on #31
Seems to ve duplicated with #22 so I will check patch
Thx

[2017-01-23 15:00] deconya commented on #31
Patched seems that scripts works, but only migrate enabled objects, not all. Any form to include disabled objects?

[2017-01-30 09:05] #31 closed, assigned to nobody

[2017-03-28 12:08] #21 closed, assigned to nobody

[2017-05-03 13:17] pepitomuler opened #32 "Can't locate object method "members" via package "allhosts""
Can't locate object method "members" via package "allhosts" (perhaps you forgot to load "allhosts"?) at nagios_reader_to_centreon_clapi.pl line 381.

The hosts and the services ar not exported in the txt file, it's stop after Host Templates

[2017-05-08 09:32] tsingletonacic commented on #32
Not a solution to the issue, but I found a workaround by commenting the "all" hostgroup definition

[2017-05-09 13:24] pepitomuler commented on #32
Where do you comment the "all" hostgroup definition ? In the nagios .cfg files ?

[2017-05-09 13:32] tsingletonacic commented on #32
Yes, I commented in the nagios file prior to running the convert tool

[2017-05-09 13:38] pepitomuler commented on #32
Could you tell me wich cfg file ? I do not find it

[2017-05-09 13:42] tsingletonacic commented on #32
Sure,
My version of nagios is quite old, but I commented these lines :
define hostgroup {
        hostgroup_name  all
		alias           All Servers
		members         *
        }

in the file /etc/nagios2/conf.d/hostgroups_nagios2.cfg

Best

[2017-05-09 14:15] pepitomuler commented on #32
Yes it works ! Thanks a lot

[2017-05-09 14:15] #32 closed, assigned to nobody

[2017-05-26 13:17] #25 closed, assigned to nobody

[2017-05-26 13:19] #27 closed, assigned to nobody

[2017-05-26 14:39] #13 closed, assigned to nobody

[2017-05-30 14:37] wpsentinel opened #37 "script consumes all memory"
hello,

I don't know if it's related to the script itself or my servers but when I execute '**perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/nagios.cfg > /tmp/centreon_clapi_import_commands.txt**'  I quickly get an out of memory message and the script never finishes :(

I'm trying to import nagios 4.0.8 configuration to a freshly installed Centreon 3.4
Nagios VM runs on Cen

[2017-07-18 07:28] arnaud-michel opened #38 "contact admin"
All imported contact are desactivated in the Clapi (line 167)
printf ( "CONTACT;setparam;%s;contact_activate;0\n", $contact_name);
When you import your clapi, if you had a admin user in your target Centreon, you are not able to connect anymore on your system. You have to activate your admin user through MySQL to recover connection.
Why do you desactivate user contact in this script ?
Could you exc

[2017-07-18 09:21] arnaud-michel opened #39 "services with multiple hosts"
Services with multiple hosts are imported once for the first host. It is not always possible to use detach function on source system.

[2017-08-28 14:42] DeadPixhell opened #41 "ARRAY probleme"
Hi everyone,

I encounter an issue with nagiosToCentreon.pl

When i use the Script i have this 2 error
- defined(@array) is deprecated at nagios_reader_to_centreon_clapi.pl line 350.
- Can't use an undefined value as an ARRAY reference at nagios_reader_to_centreon_clapi.pl line 605.

For the first error i have edited the script
Before
[code]
After
[code]
The first error disappear. but i dont know

[2017-08-29 05:40] Sims24 commented on #41
Hi @DeadPixhell ,

Thanks for using the script, today we are working along with @cgagnaire on this point to make this script more efficient through code and algorithm optimizations.

You can for now use the script version available on the v2 branch, you should not meet this kind of problem.

Soon we'll commit some brand new code on v3-sims branch that is the target version about code logic and per

[2017-08-29 08:42] DeadPixhell commented on #41
Thanks for reply @Sims24 ,

I have get the v2 branch, and now i have another kind of problem.

What i have done:
getting the v2 branch
`git clone -b v2 https://github.com/centreon/nagiosToCentreon.git`
Executing the perl script
`perl nagios_reader_to_centreon_clapi.pl -P Central-FO --config /etc/nagios/nagios.cfg > /tmp/centreon_clapi_import_commands.txt`
The output:
[code]

Do you want the full o

[2017-08-29 09:31] Sims24 commented on #41
Waiting for version 3 please use this workaround and try to launch the script again.

Make the foreach loop around line 183 look like this (add line in the middle of code block below) :

[code]

We try to be fully compliant with version 3.2.3, are you aware of any new thing on 3.5.1 ? On our side we are using Nagios Perl libraries, we will try to find out the root cause of the issue above if it st

[2017-08-29 09:52] Sims24 commented on #41
sorry there was a typo i've edited my post @DeadPixhell

[2017-08-29 13:37] DeadPixhell commented on #41
@Sims24
Its mostly work with the workaround you give me, but one bug die, one bug raise, a new bug appear  on line 533.
I have run the script with **use diagnistics;**
[code]
I have not seen Major change since Nagios 3.2.3 if their changelog  is good they have only made many fixe and some enhancements.
https://www.nagios.org/projects/nagios-core/history/3x/

If you want i can test your v3.

[2017-08-29 14:28] cgagnaire commented on #41
Hi @DeadPixhell,

Can you test the v3-sims branch please ?
The '--config' option now requires the directory path where your nagios configuration files are, not the main configuration file path.

We're waiting for your feedback.
Thanks.

[2017-08-29 14:41] cgagnaire commented on #41
And to be complete :
 - option '--version' doesn't refere to script version but to parsed nagios configuration files version (i.e. : nagios 2 or 3),
 - option '--servcies-hg' doesn't exist anymore.

[2017-08-30 14:44] DeadPixhell commented on #41
Hi @cgagnaire

I have test the v3-sims branch
I have get the directory path in /etc/nagios/nagios.cfg (ex. cfg_file=/etc/nagios/objects/commands.cfg)
My resulting command :
`perl nagios_reader_to_centreon_clapi.pl -P Central-FO --version 3  --config /etc/nagios/objects > /tmp/centreon_clapi_import_commands.txt`

And i have the following error :
[code]
configuration file in /etc/nagios/objects
[cod

[2017-08-30 16:40] cgagnaire commented on #41
Hi @DeadPixhell,

Can you use the last version of this branch please ?
Thanks

[2017-08-30 17:25] DeadPixhell commented on #41
If i remeber well (i am off work), in the script header it was writen 3.0.0

[2017-08-30 17:47] Sims24 commented on #41
@DeadPixhell this is because you're editing commands.cfg file during the script execution or that your tty has crashed.

@cgagnaire please keep script as flexible as possible. Please find my thoughts on the code actually.

For this block :

[code]

- Do not use grep for filter on an defined list of config files array (who knows people -me?!- might have a config files named ilovecat.cfg, Nagios wil

[2017-08-31 12:46] DeadPixhell commented on #41
Hi,
I have run : `lsof | grep nagios` to see if a file in  /etc/nagios/objects was open
I have closed all my tty, and stop the nagios process, and i still have the error.

result of : `perl nagios_reader_to_centreon_clapi.pl -h`

[code]
I will look if a reboot of the server is possible and i retry.

[2017-08-31 13:11] Sims24 commented on #41
@DeadPixhell would it be possible to send us a tar.gz of your /etc/nagios/ directory ? We'll keep it confidential and delete it after our tests. If so, please find my email on my github profile.

Thanks

[2017-08-31 14:35] DeadPixhell commented on #41
It's sent :)

[2017-09-05 08:21] cgagnaire commented on #41
Hi @DeadPixhell, can you test the newest version of the v3-sims branch ?
Know that services by hostgroups won't be retrieved as is, but will be transformed in services templates with unitary service created for each hosts. And futhermore, hostgroups exclusions (i.e. hostgroup_name **!**Windows) won't be taken into account, at least for now.

@Sims24 I know how much you love kittens...

[2017-09-06 07:37] DeadPixhell commented on #41
Hi, i will test the new version today !

[2017-09-06 08:47] DeadPixhell commented on #41
It's work, we will import the result in centreon to check if everything is fine.
But the script run without any error.

Kittens are so cute :)

[2017-09-07 13:12] cgagnaire commented on #5
Hi @nountevo and @ErrafayM,
Can you please try the v3-sims branch that fix your problem ?
Thanks.

[2017-09-07 13:13] #5 closed, assigned to nobody

[2017-09-07 13:15] cgagnaire commented on #8
Hi @btassite,
Can you please try the v3-sims branch that fix your problem ?
Thanks!

[2017-09-07 13:15] #8 closed, assigned to nobody

[2017-09-07 13:17] cgagnaire commented on #14
Hi @dbonengel,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:17] #14 closed, assigned to nobody

[2017-09-07 13:19] cgagnaire commented on #8
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.

[2017-09-07 13:20] cgagnaire commented on #5
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.

[2017-09-07 13:21] cgagnaire commented on #15
Hi @marcinbednarski, @Tulan and @teleko,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:21] #15 closed, assigned to nobody

[2017-09-07 13:22] cgagnaire commented on #16
Hi @Bibelo,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:22] #16 closed, assigned to nobody

[2017-09-07 13:23] cgagnaire commented on #19
Hi @ccadenel, @kwoltz1984 and @Ejant,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:23] #19 closed, assigned to nobody

[2017-09-07 13:24] cgagnaire commented on #20
Hi @ManuelCan,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:24] #20 closed, assigned to nobody

[2017-09-07 13:26] cgagnaire commented on #22
Hi @renard and @djtlg,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:26] #22 closed, assigned to lpinsivy

[2017-09-07 13:26] cgagnaire commented on #29
Hi @dbonengel,
Can you please try the v3-sims branch ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:26] #29 closed, assigned to nobody

[2017-09-07 13:26] cgagnaire commented on #29
Hi @teleko,
Can you please try the v3-sims branch ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:27] cgagnaire commented on #30
Hi @teleko,
Can you please try the v3-sims branch ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:27] #30 closed, assigned to nobody

[2017-09-07 13:27] cgagnaire commented on #37
Hi @draugr333,
Can you please try the v3-sims branch ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:27] #37 closed, assigned to nobody

[2017-09-07 13:28] cgagnaire commented on #38
Hi @arnaud-michel,
Done in v3-sims branch, you may want to try it.
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:28] #38 closed, assigned to nobody

[2017-09-07 13:29] cgagnaire commented on #39
Hi @arnaud-michel,
Can you please try the v3-sims branch that fix your problem ?
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-07 13:29] #39 closed, assigned to nobody

[2017-09-07 13:32] cgagnaire commented on #41
Hi @DeadPixhell,
You should try the latest because your configuration showed us some other unseen problems.
Thanks!

[2017-09-07 14:06] btassite commented on #8
Sorry, I can no longer help you with debugging since we have moved completely off Nagios and the old configs have no relevance to the much changed new environment anymore.

[2017-09-07 15:57] cgagnaire commented on #4
Hi everyone,
Well, that's kind of true, but some configurations swapped those two values.
This is handled in the v3-sims branch, you may want to test it.
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
And if you encounter a "swapped configuration", you can use the option --swap.
Thanks!

[2017-09-07 15:57] #4 closed, assigned to nobody

[2017-09-07 15:58] #41 closed, assigned to nobody

[2017-09-08 07:56] cgagnaire commented on #6
Hi @btassite,
It is now handled in the v3-sims branch, you may want to try it.
Be advise that the --config option now needs the path to the configuration files objects directory, not the nagios.cfg.
Thanks!

[2017-09-08 07:56] #6 closed, assigned to lpinsivy

[2017-09-08 08:02] cgagnaire commented on #8
Hey, no worries!
Sorry, I must have spammed you through the other issues :)

[2017-09-08 16:49] Ejant commented on #19
@cgagnaire it's working now, thank you!!!

[2017-09-09 20:51] renard commented on #22
@cgagnaire since there was too much bugs and due to the complexity of centreon, I switch to an other monitoring system.

Sorry I cannot help you any more.

[2017-09-14 09:03] DeadPixhell commented on #41
Hi @cgagnaire,

I have trie the lastest update, it work fine for the export and the import.

Thanks for you help !

[2017-09-14 15:47] cgagnaire commented on #41
Glad to hear it !
Thanks for the feedback.

[2017-10-11 12:51] Tonnulus opened #43 "Can't call method "register" without a package or object reference at /tmp/nagiosToCentreon/nagios_reader_to_centreon_clapi.pl line 499."
Hello,
When I run # perl /tmp/nagiosToCentreon/nagios_reader_to_centreon_clapi.pl --config /tmp/nagios.cfg -S > /tmp/centreon.cfg
I get this error :
Can't call method "register" without a package or object reference at /tmp/nagiosToCentreon/nagios_reader_to_centreon_clapi.pl line 499.

I tried to add "use diagnostics" in nagios_reader_to_centreon_clapi.pl and I get a lot of errors :

printf (...)

[2017-10-11 19:16] Sims24 commented on #43
Hi @Tonnulus,

We just merge out last work, please retry from master branch hope this will fix this issue.

Please give us some feedbacks if issues remains. Thanks.

[2017-10-11 20:12] Sims24 commented on #43
Answer and re open if you still face issues.

[2017-10-12 12:40] Tonnulus commented on #43
Thank you for your help. The script run without error, but the only result I have is :

RESOURCECFG;ADD;$hostsUSER2$;PUBLIC;Central;Resource $USER2$
RESOURCECFG;ADD;$hostsUSER10$;/srv/eyesofnetwork/pnp4nagios;Central;Resource $USER10$
RESOURCECFG;ADD;$hostsUSER1$;/srv/eyesofnetwork/nagios/plugins;Central;Resource $USER1$
RESOURCECFG;ADD;$hostsUSER3$;/srv/eyesofnetwork/notifier;Central;Resource $US

[2017-10-12 13:31] Tonnulus opened #44 "Export only RESOURCES (No host, no services)"
Hello,
Thanks to the new version and #43 The script run without error, but the only result I have is :

RESOURCECFG;ADD;$hostsUSER2$;PUBLIC;Central;Resource $USER2$
RESOURCECFG;ADD;$hostsUSER10$;/srv/eyesofnetwork/pnp4nagios;Central;Resource $USER10$
RESOURCECFG;ADD;$hostsUSER1$;/srv/eyesofnetwork/nagios/plugins;Central;Resource $USER1$
RESOURCECFG;ADD;$hostsUSER3$;/srv/eyesofnetwork/notifier;Cent

[2017-10-12 16:15] cgagnaire commented on #43
Hi @Tonnulus,
As you have seen, this version has to be launched with the directory where is stored your configuration in the --config option.
Still, your configuration files names must match the filter, the default beeing '^(?!(\.|connector\.cfg))(.*\.cfg)$'.
You can send us your files names list to help you make a filter that works for you!
Thanks.

[2017-10-12 16:16] cgagnaire commented on #44
Hi @Tonnulus,
As you have seen, this version has to be launched with the directory where is stored your configuration in the --config option.
Still, your configuration files names must match the filter, the default beeing '^(?!(.|connector.cfg))(.*.cfg)$'.
You can send us your files names list to help you make a filter that works for you!
Thanks.

[2017-10-12 16:48] Sims24 commented on #43
Is it possible to send us your config files by mail ? we'll keep it confidential and that would help a lot.

Could you please also give us exactly the command line you used.

Thanks,
Simon

[2017-10-12 18:21] cgagnaire commented on #43
@Sims24, @Tonnulus did it right by opening a new issue https://github.com/centreon/nagiosToCentreon/issues/44 :p

[2017-10-13 07:58] Tonnulus commented on #44
Hi @cgagnaire, Thank you for your answer.
Here is the contents of the directory :
├── cgi.cfg
├── nagios.cfg
├── objects
│   ├── commands.cfg
│   ├── contactgroups.cfg
│   ├── contacts.cfg
│   ├── dependencies.cfg
│   ├── escalations.cfg
│   ├── hostgroups.cfg
│   ├── hosts.cfg
│   ├── servicegroups.cfg
│   ├── services.cfg
│   └── timeperiods.cfg
└── resource.cfg

[2017-10-13 08:17] #43 closed, assigned to nobody

[2017-10-13 13:56] cgagnaire commented on #44
Hi @Tonnulus,
Ok, it is because your other objects definitions are into the objects directory.
We don't browse recursively the directories.
So you should launch the command twice, first at the main directory root (for resources configuration file), then a the <root>/objects directory (with append redirection ">>" into the same file)

[2017-11-21 15:23] dede111 opened #45 "Migrate from Nagios Core 4.3.2 to Centreon 2.8.15 -"
Hello
I want to migrate from Nagios 4.3.2 to Centreon 2.8.15.

perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/ > /tmp/centreon_clapi_import_commands.txt
perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/objects/ >> /tmp/centreon_clapi_import_commands.txt

I have an error for the second script :
Use of uninitialized value in concatenation (.) or string a

[2017-11-21 16:47] cgagnaire commented on #45
Hi @dede111,
For test purpose, can you send me your configuration files on my mailbox cgagnaire@centreon.com ?
Thanks!

[2017-11-28 10:37] larkoie opened #46 "Script adding generic parent template name when no parent template is set"
Hi,

I had to migrate from Nagios to Centreon and found your script that is working very well and saved me tonnes of time (thanks a lot for your work btw).

However I found a little bug that took me time to resolve:
When you have a template item (ex: Host template; service template etc...) which has no "**Parent templates**" set, the script will generate a **generic parent templates name** (ex: ge

[2017-11-29 09:08] cgagnaire commented on #46
Hi @larkoie,
Well this is not a bug but a feature ;)
It was made for people using the free Plugin Packs available in any installation from 2.8 version.
And also to not have those "parent-less" hosts as its not in the best pratices.
But I can see that it can be counterproductive. I might remove that feature or put it as a option.
Thanks for your feedback!

[2017-11-29 09:08] #46 closed, assigned to nobody

[2017-12-13 11:23] Sims24 commented on #44
We didn't have your feedback so we consider this issue as solved. Feel free to re-open.

[2017-12-13 11:23] #44 closed, assigned to nobody

[2018-01-23 14:40] arnaud-michel opened #49 "nagios 3.4.1 to Centreon 2.8.17"
Hello Colin,

We don't have retry_check_interval setparam option on our STPL in clapi file.

Regards

[2018-01-25 13:42] cgagnaire commented on #49
Fixed here https://github.com/centreon/nagiosToCentreon/commit/f4a143a12bfaf1261f2a4f89ea6df024d8a7ca83

[2018-01-25 13:42] #49 closed, assigned to nobody

[2018-02-07 06:16] Meistercoach83 opened #50 "Nagios 3.5.3 Import to Centreon 2.8.17"
Hello!
I tried to Import the configuration from a new nagios Server to our centreon Server, but I´m getting the following error:

[2018-02-13 12:55] lpinsivy commented on #50
Hi,

Can you give us:
- Version of Nagios
- A tarball containing your Nagios configuration to reproduce the problem

Regards,

[2018-02-15 05:58] Meistercoach83 commented on #50
Nagios Core: 3.5.3
 @[Nagios.zip](http://sfwinterbach.com/nagvis.zip)

[2018-02-19 13:21] lpinsivy commented on #50
Can you try to modify line 477:

`if (defined($service->{'name'})) { push @{$clapi{STPL}}, "STPL;ADD;".$OPTION{'prefix'}.$service->{'name'}.";".$service->{'service_description'}.";".(defined($service->{'use'}) ? $OPTION{'prefix'}.$service->{'use'} : $default_stpl) };`

by:

`if (defined($service->{'name'})) { push @{$clapi{STPL}}, "STPL;ADD;".$OPTION{'prefix'}.$service->{'name'}.";".(defined($serv

[2018-02-21 06:00] Meistercoach83 commented on #50
Great, it worked. Sorry for the late Reply, i was ill :-(

[2018-02-21 07:27] Meistercoach83 commented on #50
Sorry, but when I try to Import the data now, I´m getting  errors starting from Line 100 : Object not found:icon_image;srvlfsvir03.PNG

Where do i have to declare the Icons?

[2018-02-22 11:50] lpinsivy commented on #50
You can synchronise your media using this [chapter](https://documentation.centreon.com/docs/centreon/en/2.8.x/administration_guide/02d.html) of the Centreon documentation

[2018-02-23 11:34] Catskan-zz opened #52 "Error import the centreon_clapi_import_commands"
Hi,

I'm trying to import my all nagios configuration (services, objects, commands) in centreon but I have an error.

I ran `$ perl nagios_reader_to_centreon_clapi.pl --config /usr/local/nagios/etc/ > /tmp/centreon_clapi_import_commands.txt` and I have a file with 4 lines.

But, when I tried to import my file with `/usr/share/centreon/www/modules/centreon-clapi/core/centreon -u admin -p password -

[2018-03-11 19:26] cgagnaire commented on #52
Hi @Catskan,
What do you have in your /usr/local/nagios/etc directory ?

[2018-04-30 13:43] ghost commented on #52
hey brother, i have the same problem of Catskan. i want to import my nagos config to centreon using centreon clapi.
=> in my directory /usr/local/nagios/etc i have my files of configuration nagios.cfg ..... look at the pictures attached. thank you very much for your help sir.
![nagios configuration](https://user-images.githubusercontent.com/38859042/39430032-f8add2be-4c8c-11e8-9f20-93e9caf74fe8.PN

[2018-04-30 13:47] ghost commented on #45
hey brother, i have the same problem

. i want to import my nagos config to centreon using centreon clapi.
=> in my directory /usr/local/nagios/etc i have my files of configuration nagios.cfg ..... look at the pictures attached. thank you very much for your help sir.

![centreon_clapi](https://user-images.githubusercontent.com/38859042/39430288-b9853720-4c8d-11e8-981b-094d6a5bd495.PNG)
![nagios co

[2018-04-30 13:49] ghost commented on #50
hey brother, i have an other problem of migration
. i want to import my nagios config to centreon using centreon clapi.
=> in my directory /usr/local/nagios/etc i have my files of configuration nagios.cfg ..... look at the pictures attached. thank you very much for your help sir.
![centreon_clapi](https://user-images.githubusercontent.com/38859042/39430406-0e421ef4-4c8e-11e8-9f43-cf422a6a300b.PNG)

[2018-05-02 14:31] ghost opened #53 "Error import the centreon_clapi_import_commands"
Hey brothers,

i am testing to migrate my nagios configuration (version 4.2.1) to centreon (version 2.7.7) wich have already installed in my VM linux ubuntu 16.04 ...
i have follow the instructions in this link:   https://documentation-fr.centreon.com/docs/centreon/en/2.8.x/migration/nagiostocentreon.html  (= Nagios Reader vers Centreon CLAPI). i have set this command:
perl nagios_reader_to_centre

[2018-09-30 04:28] djtlg opened #54 "Deep recursion on subroutine "main::export_services" at nagios_reader_to_centreon_clapi.pl line 465."
I am trying to convert Nagios 3.2.3 with Centreon 2.3.9 to the latest Centreon version. When I ran the converter against Centreon generated Nagios cfg file I get the following error.
`Deep recursion on subroutine "main::export_services" at nagios_reader_to_centreon_clapi.pl line 465.`

[2022-06-20 04:49] arshoaib opened #56 "Object not found"
Hi ,

I am facing this issue while running the following command to import the configuration into Centreon on your Centreon server:

/usr/share/centreon/bin/centreon -u admin -p @PASSWORD -i /tmp/my_host_file.txt

I have copied all the host files from my Nagios and converted them into txt formal successfully but while trying to import it to my center, I got that error every time. Please help me to